.main {
  min-height: calc(100vh - 80px - 40px);
}

.btn-search{
  font-size: 17px;
}

.navbar {
  z-index: 1;
}

.card-img-top {
  height: 400px !important;
}

.card {
  height: 525px !important;
}

@media only screen and (max-width: 767px) {
  .form {
    width: 100% !important;
  }
}
